
.grid {
    display: grid;
    grid-template-columns:repeat(6, minmax(0, 1fr));
  }
  
  .text {
      grid-column: 1 / span 2;
      font-family:"Poppins", sans-serif;
      font-size: 12px;
      color: black;
      text-align: left;
      
  
    }
  
  
  .pill-nav a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-size: 12px; 
    font-family:"Poppins", sans-serif;
    padding:80px;
    
   
  }
  
  
  header{
    padding-bottom: 40px;
  
  }
  
  
  li {
    display: inline;
    
    
  }
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;

  }
  
  body {
    cursor: url('images/Untitled-1.png'), auto;
  }
  
  .hike {
    grid-column: 3 / span 3;
    padding-left: 60px;
    padding-top: 5px;
  }
  
  .muna {
    width: 100%;
    grid-column: 3 / span 2;
    padding-left: 60px;
    
   
  }
  
  .bloom {
    width: 100%;
    grid-column: 5 / span 2;
   
  }
  
  .nice {
    grid-column: 3 / span 2;
    padding-left: 60px;
    padding-top: 5px;
  }
  
  
  .look {
    grid-column: 5 / span 2;
    padding-top: 5px;
  }
  
  

body {
  color: black;
  
}

.wrapper {
  grid-column: 1 / span 2;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50px;
}

blockquote {
  grid-column: 1 / span 2;
  background: white;
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 50%;
  max-width: 500px;
}

.stacked {
  grid-column: 1 / span 2;
  border: solid 2px;
  padding: 20px 30px 20px 30px;
  box-shadow: 13px 13px 0 0 white,
              15px 15px 0 0 black,
              15px 11px 0 0 black,
              11px 15px 0 0 black;
}

.heading{

  text-decoration: underline;
  grid-column: 1 / span 2;
  font-family:"Poppins", sans-serif;
  font-size: 12px;
  color: black;
  text-align: left;

}



@media screen and (max-width: 600px) {
  

  .pill-nav a  {
    display:block ;
    text-align: left;
    padding:10px;
  }


body {
  color: black;
  
}

.wrapper {
  grid-column: 1 / span 6;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50px;
}

blockquote {
  grid-column: 1 / span 6;
  background: white;
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 50%;
  max-width: 500px;
}

.stacked {
  grid-column: 1 / span 6;
  border: solid 2px;
  padding: 20px 30px 20px 30px;
  box-shadow: 13px 13px 0 0 white,
              15px 15px 0 0 black,
              15px 11px 0 0 black,
              11px 15px 0 0 black;
}

}